
p.valid input.input.name{
  border-color: #00E600;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
p.card_number.valid input.input, p.card_date.valid input.input, p.card_cvv.valid input.input, p.card_amount.valid input.input{
  border-color: #00E600;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

p.card_number.invalid input.input,p.card_date.invalid input.input,p.card_cvv.invalid input.input,p.card_amount.invalid input.input {
  border-color: #ed143d;
}

p.payment_amount.invalid input.input,p.payment_phone.invalid input.input,p.payment_email.invalid input.input {
  border-color: #ed143d;
}

p.payment_amount.valid input.input, p.payment_phone.valid input.input, p.payment_email.valid input.input{
  border-color: #00E600;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

p.valid i.fa-credit-card{
  color: #558de6;
}

p.card_number {
  width: 215px;
}

p.card_cvv {
  width: 85px;
}

div.error.notification{
  background-color: #f2dede;
  border: 1px solid lightgrey;
  color: #a94442;
  padding: 7px;
  width: 50%;
  margin: 0 auto;
}


div.card_data .field {
  margin-left: 15px;
}

div.card_data .field:first-child{
  margin-left: 0px;
}

p.card_date{
  width: 105px;
}

p.card_number input.input, p.card_date input.input, p.card_cvv input.input, p.card_amount input.input{
  padding-right: 0px !important;
}

p.card_amount input.input {
  padding-right: 15px !important;
}

a.button.is-primary.active {
  color: #ffffff;
}

.field.is-horizontal.form-email-invitation, .field.is-horizontal.card_data {
  position: relative;
}

.btn-copy.delete_added_item {
  padding-left: 6px;
  padding-top: 7px;
  position: absolute;
  right: -25px;
  cursor: pointer;
}

.form-email-invitation .payment_phone .btn-outline-secondary {
  border-right: none;
  border-radius: 5px 0 0 5px;
}
.form-email-invitation .payment_phone input.form-control {
  border-left: 0;
  margin-left: 0;
}

.add-new-credit-card {
  background: green;
  border-radius: 50px;
  padding: 5px 10px;
  border: 0px;
  width: 36px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
