<style lang="scss">
  @import '../../static/css/review.css';
</style>
<template>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-three-fifths is-offset-one-fifth">
          <img src="../assets/logo.png" alt="splittypay">
          <hr>
          <h1 class="title">
            Review Card
          </h1>
          <h2 class="subtitle">
            Review all information for any correction click the back button
          </h2>
        </div>
        <div class="row card_review text">
            <div class="title payment_type"> You have selected <span style="font-weight: 600;">{{payment_type}}</span> payment type.</div>
            <div class="card_info_wrapper">
              <div class="card_info_content item" v-for="(card, index) in cardData" :key="index">
                <div class="group_name">
                  <span class="first_name"><span class="placehold">First Name:</span> <span class="name">{{card.first_name}}</span></span>,
                  <span class="first_name"><span class="placehold">Last Name:</span> <span class="name">{{card.last_name}}</span></span>
                </div>
                <div class="card card_number"><span class="card_label">Card Number:</span> <span class="card_value">{{card.card_number}}</span></div>
                <div class="card_date group_code">
                  <span class="card_date"><span class="card_label">Card Date:</span> <span class="card_value">{{card.card_date}}</span></span>,
                  <span class="card_cvv"><span class="card_label">Card CVV:</span><span class="card_value">{{card.card_cvv}}</span></span>
                </div>
                <div class="card card_amount"><span class="card_label">You selected amount:</span> <span class="card_value">{{card.amount}}</span> </div>
              </div>
            </div>
        </div>
        <hr class="is-divider" data-content="OR">
        <div class="row" v-if="paymentRequest.length">
          <h4 class="invitation_banner">Invitation for payments</h4>

          <div class="payment_request_wrapper" v-for="(payment, key) in paymentRequest" :key="key">
            <div class="payment_request_content item">
              <div class="payment_request_container">
                <span class="card_label"> Email:</span> <span class="payment_value">{{payment.email}}</span>,
                <span class="card_label">Phone:</span> <span class="payment_value">{{payment.phone}}</span>,
                <span class="card_label">Amount:</span> <span class="payment_value">{{payment.amount}}</span></div>
            </div>
          </div>
        </div>
        <hr class="is-divider" data-content="OR">
        <div class="row">
          <div class="card_proced_btn">
            <button class="button is-primary is-half" v-on:click="collectionPage">
              Back
            </button>
            <button class="button is-primary is-half" v-on:click="monitoringInvitation">
              Procedi
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

export default {
  name: 'Review',
  cardData: [],
  payment_type: '',
  paymentRequest: [],
  created: function () {
    let cards = localStorage.getItem('cardData') ? JSON.parse(localStorage.getItem('cardData')) : this.cardData
    this.payment_type = localStorage.getItem('payment_type') ? JSON.parse(localStorage.getItem('payment_type')) : this.payment_type
    let payments = localStorage.getItem('paymentRequest') ? JSON.parse(localStorage.getItem('paymentRequest')) : this.paymentRequest
    this.cardData = cards.filter((card) => { return card.first_name })
    this.paymentRequest = payments.filter((card) => { return card.email })
  },
  methods: {
    monitoringInvitation: function () {
      window.location.href = '/Monitoring'
    },
    collectionPage: function () {
      window.location.href = '/CardCollection'
    }
  }
}
</script>

<style scoped>

</style>
