<style lang="scss">
  @import '../../static/css/welcome.css';
</style>
<template>
  <div>
    <!--Start hero-->
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-three-fifths is-offset-one-fifth">
            <img src="../assets/logo.png" alt="splittypay">
<hr>
            <h1 class="title">
              Benvenuto su SplittyPay
            </h1>
            <h2 class="subtitle">
              Dividi i pagamenti lorem ipsum
            </h2>
            <p>Il primo metodo di pagamento che ti permette di dividere l’importo totale tra piu carte, istantaneamente e senza dover anticipare soldi per nessuno. Puoi anche inviare link di pagamento per permettere di completare la prenotazione anche ai non pre- senti.
              Inserisci la tua mail per procedere al pagamento, tu sarai il Capogruppo</p>
          </div>
          <div class="container">
            <div class="column is-half is-offset-one-quarter">
              <!--Start form-->
              <form id="monitoring" @submit="checkEmailForm" action="/CardCollection" method="get" novalidate="true">
                <!--Form Error Message here-->
                <div v-if="errors.length">
                    <div class="fade in error notification" v-for="(error, index) in errors" :key="index">
                      <strong>Error!</strong> {{error}}
                    </div>
                </div>
              <div class="field">
                <p class="control has-icons-left has-icons-right" v-bind:class="inputClass">
                  <input class="input email_address" v-model="email_address" type="email" id="email_address" placeholder="Scrivi il tuo indirizzo email">
                  <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
                  <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button class="button is-primary is-fullwidth">
                    Procedi
                  </button>
                </p>
              </div>
              </form>
              <!--End of form-->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End of hero-->

  </div>

</template>

<script>
export default {
  name: 'Welcome',
  data () {
    return {
      errors: [],
      email_address: '',
      validateEmail: function (email) {
        var re = new RegExp('^(([^<>()\\[\\]\\\\.,;:\\s@"]+(\\.[^<>()\\[\\]\\\\.,;:\\s@"]+)*)|(".+"))@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$')
        return re.test(String(email).toLowerCase())
      }
    }
  },
  computed: {
    inputClass: function () {
      if (this.email_address === '' || !(this.validateEmail(this.email_address))) {
        return 'invalid'
      } else {
        return 'valid'
      }
    }
  },
  methods: {
    checkEmailForm: function (e) {
      this.errors = []
      if (!this.email_address) {
        this.errors.push('Email is require to go next page.')
      } else if (!this.validateEmail(this.email_address)) {
        this.errors.push('Please input valid email, it seems email is not valid.')
      }
      if (!this.errors.length) {
        if (localStorage.getItem('cardData')) {
          localStorage.removeItem('cardData')
        }
        if (localStorage.getItem('payment_type')) {
          localStorage.removeItem('payment_type')
        }
        if (localStorage.getItem('paymentRequest')) {
          localStorage.removeItem('paymentRequest')
        }
        return true
      }
      e.preventDefault()
    }
  }
}
</script>

<style scoped>

</style>
