<template>
<div>
  <!--start header-->
  <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="../../assets/logo.png" alt="splittypay" width="112" height="28">
      </a>
    </div>
  </nav>
  <!--end of header-->
</div>
</template>

<script>
export default {
  name: 'header'
}
</script>

<style scoped>

</style>
